@model IEnumerable<ljsflooring.Data.Listing>

@foreach (var item in Model)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">@item.title</h4>
    </div>

    <div class="modal-body">
        <div class="thumbnail">
            <img src="@Url.Content(@item.image)" alt="Image">
            <div class="caption">
                @item.description
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}