@model IEnumerable<ljsflooring.Data.Listing>
@using ljsflooring.Helpers

@{
    ViewBag.Title = "LJS Florring " + ViewBag.categoryname;
}

<div id="listing-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="listing-modal-content"></div>
        </div>
    </div>
</div>

<div id="confirmdelete-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="confirmdelete-modal-content"></div>
        </div>
    </div>
</div>


<div class="jumbotron">
    <h1>LJS flooring</h1>
    <p class="lead">Wood - Tile - Stone - Carpet Installation.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Request a quote &raquo;</a></p>
</div>

<h2>Items for @ViewBag.categoryname</h2>

@if (Model != null && Model.Count() > 0)
{
    int divCnt = 1;
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="@Url.Content(@item.image)" alt="Image">
                    <div class="caption">
                        <h3>@item.title</h3>
                        <p>@item.description</p>
                        <p>
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-circle-arrow-right'></span> Details",
                            "Details",
                            "GetListigById",
                            "Home",
                            routeValues: new { listingid = @item.id },
                            htmlAttributes: new { @id = "listingDetails_" + @item.id, @class = "btn btn-sm btn-default" })
                            <label></label>
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-circle-arrow-right'></span> Edit",
                            "Edit",
                            "EditListing",
                            "Home",
                            routeValues: new { listingid = @item.id, categoryname = @ViewBag.categoryname },
                            htmlAttributes: new { @class = "btn btn-sm btn-default" })
                            <label></label>
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span> Delete",
                            "Delete",
                            "ConfirmDelete",
                            "Home",
                            routeValues: new { listingid = @item.id, categoryname = @ViewBag.categoryname, categoryid = @item.CategoryId },
                            htmlAttributes: new { @id = "deleteid_" + @item.id, @class = "btn btn-sm btn-default" })
                        </p>
                    </div>
                </div>
            </div>
            if (@divCnt == 4)
            {
                <div class="clearfix visible-lg-block visible-md-block"></div>
                divCnt = 0;
            }
            divCnt++;
        }
    </div>
}
else
{
    <div class="alert alert-danger">
        No news entries found.
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            @foreach (var item in Model)
            {
            <text>
            $("#listingDetails_@item.id").on("click", function (e) {
                // Hide dropdown if any
                $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

                $('#listing-modal-content').load(this.href, function () {
                    $('#listing-modal').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');

                    //bindForm(this);
                });

                return false;
            });

            $("#deleteid_@item.id").on("click", function (e) {
                // Hide dropdown if any
                $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

                $('#confirmdelete-modal-content').load(this.href, function () {
                    $('#confirmdelete-modal').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');

                    bindForm(this);
                });

                return false;
            });
            </text>
            }
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#confirmdelete-modal').modal('hide');

                            //Refresh
                            location.reload();
                        } else {
                            $('#confirmdelete-modal-modal-content').html(result);

                            bindForm();
                        }
                    }
                });

                return false;
            });
        }
    </script>
}
