@model IEnumerable<ljsflooring.Data.Category>
@using ljsflooring.Helpers
@{
    ViewBag.Title = "LJS flooring";
}

@section Meta
{
    <meta name="description" content="Our company provides laminate, tile, carpet, stone, hardwood, and engineered flooring installations for commercial and residential clients. " />
    <meta name="keywords" content="ceramic floor tiles installation, porcelain tiles installation, laminate floor installation, hardwood floor installation, engineered flooring installations, carpet installation, stone work ">
}

<div id="confirmdelete-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="confirmdelete-modal-content"></div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>LJS flooring</h1>
    <p class="lead">Wood - Tile - Stone - Carpet Installation.</p>
    @Html.NoEncodeActionLink("Request a quote &raquo;", null, "Contact", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
</div>

@{int divCnt = 1;}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">@item.categoryname.ToUpper()</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail thumbnailmainpage">
                        <img src="@Url.Content(@item.image)" alt="Image">
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-circle-arrow-right'></span> View All",
                                        null,
                                        "GetCategoryListings",
                                        "Home",
                                        routeValues: new { categoryid = item.id, categoryname = item.categoryname },
                                        htmlAttributes: new { @class = "btn btn-sm btn-default" })
                    @if (Request.IsAuthenticated)
                    {
                        <label></label>
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-circle-arrow-right'></span> Edit",
                                        null,
                                        "EditCategory",
                                        "Home",
                                        routeValues: new { categoryid = item.id },
                                        htmlAttributes: new { @class = "btn btn-sm btn-default" })
                        <label></label>
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span> Delete",
                                        null,
                                        "ConfirmDeleteCategory",
                                        "Home",
                                        routeValues: new { categoryid = item.id },
                                        htmlAttributes: new { @id = "deleteid_" + @item.id, @class = "btn btn-sm btn-default" })
                    }
                </div>
            </div>
        </div>
        if (@divCnt == 3)
        {
            <div class="clearfix visible-lg-block"></div>
            divCnt = 0;
        }
        divCnt++;
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });

            @foreach (var item in Model)
            {
                <text>
            $("#deleteid_@item.id").on("click", function (e) {
                // Hide dropdown if any
                $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

                $('#confirmdelete-modal-content').load(this.href, function () {
                    $('#confirmdelete-modal').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');

                    bindForm(this);
                });

                return false;
            });
            </text>
            }
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#confirmdelete-modal').modal('hide');

                            //Refresh
                            location.reload();
                        } else {
                            $('#confirmdelete-modal-modal-content').html(result);

                            bindForm();
                        }
                    }
                });

                return false;
            });
        }
    </script>
}





